{% extends "base.html" %}
{% block content %}

<h2>College</h2>
<p>College test</p>

<table id="example" class="table table-striped">
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>CCS</td>
      <td>College of Computed Studies</td>
    </tr>
    <tr>
      <td>CHS</td>
      <td>College of Health Sciences</td>
    </tr>
    <tr>
      <td>CSM</td>
      <td>College of Science and Mathematics</td>
    </tr>
    <tr>
      <td>COE</td>
      <td>College of Engineering</td>
    </tr>
    <tr>
      <td>CED</td>
      <td>College of Education</td>
    </tr>
    <tr>
      <td>CASS</td>
      <td>College of Arts and Social Sciences</td>
    </tr>
    <tr>
      <td>CEBA</td>
      <td>College of Econimcs and Business Administration</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th>Code</th>
      <th>Name</th>
    </tr>
  </tfoot>
</table>
{% endblock %}