{% extends "base.html" %}
{% block content %}
<h2>Program</h2>
<p>Program test</p>

<table id="example" class="table table-striped">
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>College</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>BSCS</td>
      <td>Bachelor of Science in Computer Science</td>
      <td>CCS</td>
    </tr>
    <tr>
      <td>BSCE</td>
      <td>Bachelor of Science in Civil Engineering</td>
      <td>COE</td>
    </tr>
    <tr>
      <td>BS PolSci</td>
      <td>Bachelor of Science in Polotical Science</td>
      <td>CASS</td>
    </tr>
    <tr>
      <td>BSM</td>
      <td>Bachelor of Science in Matdematics</td>
      <td>CSM</td>
    </tr>
    <tr>
      <td>BSN</td>
      <td>Bachelor of Science in Nursing</td>
      <td>CHS</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>College</th>
    </tr>
  </tfoot>
</table>

{% endblock %}