{% extends "base.html" %}
{% block content %}

<div class="mini-header">
  <h3>COLLEGES</h3>
  <button type="button" data-bs-toggle="modal" data-bs-target="#addModal" id="add-btn">ADD</button>
</div>

<!--Add Modal-->
<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Header -->
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Add College</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Body -->
      <div class="modal-body">

        <!-- Add Form-->
        <form>
          <div class="form-group">
            <label for="colCode">College Code</label>
            <input class="form-control" id="colCode">
          </div>
          <div class="form-group">
            <label for="colName">Password</label>
            <input type="password" class="form-control" id="colName">
          </div>
        </form>
      </div>
      <!-- Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="submitColAdd">Add</button>
      </div>

    </div>
  </div>
</div>


<table id="table" class="table table-striped">
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>CCS</td>
      <td>College of Computed Studies</td>
      <td>
        <a href="/edit/college" class="btn btn-secondary btn-sm">Edit</a>
        <a href="/delete/college" class="btn btn-danger btn-delete btn-sm">Delete</a>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </tfoot>
</table>
{% endblock %}