{% extends "base.html" %}
{% block content %}

<div class="mini-header">
  <h3>COLLEGES</h3>
  <button type="button" data-bs-toggle="modal" data-bs-target="#addModal" id="add-btn">ADD</button>
</div>

<div>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-success alert-dismissable fade show d-flex justify-content-between align-items-center"
    role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
</div>

<!--Add Modal-->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Header -->
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Add College</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Body -->
      <div class="modal-body">

        <!-- Add Form-->
        <form action="{{url_for('college.add_college')}}" method="POST">
          <div class="form-group">
            <label for="colCode">College Code</label>
            <input class="form-control" id="colCode" name="colCodeAdd">
          </div>
          <div class="form-group">
            <label for="colName">College Name</label>
            <input class="form-control" id="colName" name="colNameAdd">
          </div>

          <!-- Footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" id="submitColAdd">Add</button>
          </div>

        </form>
      </div>

    </div>
  </div>
</div>

<!--Edit Modal-->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Header -->
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Edit College</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Body -->
      <div class="modal-body">

        <!-- Edit Form-->
        <form action="{{url_for('college.edit_college')}}" method="POST">
          <input type="hidden" id="colCodeInitial" name="colInitial">
          <div class="form-group">
            <label for="colCodeEdit">College Code</label>
            <input class="form-control" id="colCodeEdit" name="codeEdit">
          </div>
          <div class="form-group">
            <label for="colNameEdit">College Name</label>
            <input class="form-control" id="colNameEdit" name="nameEdit">
          </div>
          <!-- Footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" id="submitColEdit">Save</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

<!--Delete Modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Header -->
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Delete College</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Body -->
      <div class="modal-body">
        Are you sure you want to delete this College?
      </div>
      <!-- Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="submitColDelete">Delete</button>
      </div>

    </div>
  </div>
</div>

<table id="table" class="table table-striped">
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    {% for row in data %}
    <tr>
      <td>{{row[0]}}</td>
      <td>{{row[1]}}</td>
      <td>
        <button class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#editModal" edit-code="{{row[0]}}"
          edit-name="{{row[1]}}">Edit</button>
        <button class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </tfoot>
</table>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/college.js') }}"></script>
{% endblock %}