{% extends "base.html" %}
{% block content %}
<div class="mini-header">
  <h3>PROGRAMS</h3>
  <button type="button" data-bs-toggle="modal" data-bs-target="#addModal" id="add-btn">ADD</button>
</div>

<div>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-success alert-dismissable fade show d-flex justify-content-between align-items-center"
    role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
</div>

<!--Add Modal-->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Header -->
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Add Program</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Body -->
      <div class="modal-body">

        <!-- Add Form-->
        <form action="{{url_for('program.add_program')}}" method="POST">
          <div class="form-group">
            <label for="progCode">Program Code</label>
            <input class="form-control" id="progCode" name="progCodeAdd">
          </div>
          <div class="form-group">
            <label for="progName">Program Name</label>
            <input class="form-control" id="progName" name="progNameAdd">
          </div>
          <div class="form-group">
            <label for="colCode">College Code</label>
            <input class="form-control" id="colCode" name="colCodeAdd">
          </div>

          <!-- Footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" id="submitProgAdd">Add</button>
          </div>

        </form>
      </div>

    </div>
  </div>
</div>

<!--Edit Modal-->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Header -->
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Edit Program</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Body -->
      <div class="modal-body">

        <!-- Edit Form-->
        <form action="{{url_for('program.edit_program')}}" method="POST">
          <input type="hidden" id="progCodeInitial" name="progInitial">
          <div class="form-group">
            <label for="progCodeEdit">Program Code</label>
            <input class="form-control" id="progCodeEdit" name="codeEdit">
          </div>
          <div class="form-group">
            <label for="progNameEdit">Program Name</label>
            <input class="form-control" id="progNameEdit" name="nameEdit">
          </div>
          <div class="form-group">
            <label for="progColCodeEdit">College Code</label>
            <input class="form-control" id="progColCodeEdit" name="colEdit">
          </div>
          <!-- Footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" id="submitProgEdit">Save</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

<!--Delete Modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Header -->
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Delete Program</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Body -->
      <div class="modal-body">
        Are you sure you want to delete this Program?
      </div>

      <form action="{{url_for('program.delete_program')}}" method="POST">
        <input type="hidden" id="progCodeDelete" name="progCodeDelete">
        <!-- Footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" id="submitProgDelete">Delete</button>
        </div>
      </form>

    </div>
  </div>
</div>

<table id="programTable" class="table table-striped">
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>College</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>


{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/program.js') }}"></script>
{%endblock %}