{% extends "base.html" %}
{% block content %}
<div class="mini-header">
  <h3>STUDENTS</h3>
  <button type="button" data-bs-toggle="modal" data-bs-target="#addModal" id="add-btn">ADD</button>
</div>

<!--Add Modal-->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Header -->
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Add Student</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Body -->
      <div class="modal-body">

        <!-- Add Form-->
        <form>
          <div class="form-group">
            <label for="studentId">ID</label>
            <input class="form-control" id="studentId">
          </div>
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input class="form-control" id="firstName">
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input class="form-control" id="lastName">
          </div>
          <div class="form-group">
            <label for="course">Course</label>
            <input class="form-control" id="course">
          </div>
          <div class="form-group">
            <label for="year">Year</label>
            <input class="form-control" id="year">
          </div>
          <div class="form-group">
            <label for="gender">Gender</label>
            <input class="form-control" id="gender">
          </div>
        </form>
      </div>
      <!-- Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="submitStudAdd">Add</button>
      </div>

    </div>
  </div>
</div>

<!--Edit Modal-->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Header -->
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Edit Student</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Body -->
      <div class="modal-body">

        <!-- Add Form-->
        <form>
          <div class="form-group">
            <label for="studentIdEdit">ID</label>
            <input class="form-control" id="studentIdEdit">
          </div>
          <div class="form-group">
            <label for="firstNameEdit">First Name</label>
            <input class="form-control" id="firstNameEdit">
          </div>
          <div class="form-group">
            <label for="lastNameEdit">Last Name</label>
            <input class="form-control" id="lastNameEdit">
          </div>
          <div class="form-group">
            <label for="courseEdit">Course</label>
            <input class="form-control" id="courseEdit">
          </div>
          <div class="form-group">
            <label for="yearEdit">Year</label>
            <input class="form-control" id="yearEdit">
          </div>
          <div class="form-group">
            <label for="genderEdit">Gender</label>
            <input class="form-control" id="genderEdit">
          </div>
        </form>
      </div>
      <!-- Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="submitStudEdit">Save</button>
      </div>

    </div>
  </div>
</div>

<table id="table" class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Course</th>
      <th>Year</th>
      <th>Gender</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>0000-0000</td>
      <td>Sero</td>
      <td>Zero</td>
      <td>CSN</td>
      <td>1</td>
      <td>Male</td>
      <td>
        <button class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#editModal">Edit</button>
        <button class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Course</th>
      <th>Year</th>
      <th>Gender</th>
      <th>Actions</th>
    </tr>
  </tfoot>
</table>
{% endblock %}