{% extends "base.html" %}
{% block content %}
<div class="mini-header">
  <h3>STUDENTS</h3>
  <button type="button" data-bs-toggle="modal" data-bs-target="#addModal" id="add-btn">ADD</button>
</div>

<div>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-success alert-dismissable fade show d-flex justify-content-between align-items-center"
    role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
</div>

<!--Add Modal-->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Header -->
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Add Student</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Body -->
      <div class="modal-body">

        <!-- Add Form-->
        <form action="{{url_for('student.add_student')}}" method="POST">
          <div class="form-group">
            <label for="studentId">ID</label>
            <input class="form-control" id="studentId" name="idAdd">
          </div>
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input class="form-control" id="firstName" name="firstNameAdd">
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input class="form-control" id="lastName" name="lastNameAdd">
          </div>
          <div class="form-group">
            <label for="course">Course</label>
            <input class="form-control" id="course" name="courseAdd">
          </div>
          <div class="form-group">
            <label for="year">Year</label>
            <input class="form-control" id="year" name="yearAdd">
          </div>
          <div class="form-group">
            <label for="gender">Gender</label>
            <input class="form-control" id="gender" name="genderAdd">
          </div>

          <!-- Footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" id="submitStudAdd">Add</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

<!--Edit Modal-->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Header -->
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Edit Student</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Body -->
      <div class="modal-body">

        <!-- Edit Form-->
        <form action="{{url_for('student.edit_student')}}" method="POST">
          <input type="hidden" id="studInitial" name="studInitial">
          <div class="form-group">
            <label for="studentIdEdit">ID</label>
            <input class="form-control" id="studentIdEdit" name="idEdit">
          </div>
          <div class="form-group">
            <label for="firstNameEdit">First Name</label>
            <input class="form-control" id="firstNameEdit" name="fnameEdit">
          </div>
          <div class="form-group">
            <label for="lastNameEdit">Last Name</label>
            <input class="form-control" id="lastNameEdit" name="lnameEdit">
          </div>
          <div class="form-group">
            <label for="courseEdit">Course</label>
            <input class="form-control" id="courseEdit" name="courseEdit">
          </div>
          <div class="form-group">
            <label for="yearEdit">Year</label>
            <input class="form-control" id="yearEdit" name="yearEdit">
          </div>
          <div class="form-group">
            <label for="genderEdit">Gender</label>
            <input class="form-control" id="genderEdit" name="genderEdit">
          </div>
          <!-- Footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" id="submitStudEdit">Save</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

<!--Delete Modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Header -->
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Delete Student</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Body -->
      <div class="modal-body">
        Are you sure you want to delete this Student?
      </div>

      <form action="{{url_for('student.delete_student')}}" method="POST">
        <input type="hidden" id="studDelete" name="studDelete">
        <!-- Footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" id="submitStudDelete">Delete</button>
        </div>
      </form>

    </div>
  </div>
</div>

<table id="studentTable" class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Year</th>
      <th>Gender</th>
      <th>Course</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/student.js') }}"></script>
{% endblock %}