.navbar a {
  color: white;
}

.navbar-dark .navbar-nav .nav-link.active{
  color: orange;
  background-color: black;
  border-radius: 15px;
}

.nav-link {
  transition: all 0.3s ease;
}

.navbar a:hover {
  color: orange;
}

#search-btn {
  color: white;
  border: 2px solid white;
}

#search-btn:hover {
  color: Orange;
  border: 2px solid black;
  background-color: black;
}

.nav-link,
.dropdown-item {
  border-radius: 15px;
}
